<main class="mobile-center">
    <section class="well1 ins3">
        <div class="container">
            <div class="row off1">
                <div class="grid_12">
                    <h3>
                        <strong>最新公告</strong>
                    </h3>
                    <mgl-timeline [toggle]="toggle" [alternate]="alternate">
                        <mgl-timeline-entry *ngFor="let entry of entries">
                            <mgl-timeline-entry-header>
                                <div>{{entry.name}}</div>
                            </mgl-timeline-entry-header>
                            <mgl-timeline-entry-content>
                                <div>
                                    <div>{{entry.description}}</div>
                                </div>
                            </mgl-timeline-entry-content>
                            <mgl-timeline-entry-dot [size]="size"></mgl-timeline-entry-dot>
                            <mgl-timeline-entry-side>{{entry.date}}</mgl-timeline-entry-side>
                        </mgl-timeline-entry>
                    </mgl-timeline>
                </div>
            </div>
        </div>
    </section>
</main>