.mat-button {
    font-family: Microsoft JhengHei;
    font-size: 16px;
    color: white;
    padding:15px;
    padding-left:30px;
    padding-right:30px;
}

.mat-menu-item {
    font-family: Microsoft JhengHei;
}