<main class="mobile-center">
  <section class="well1 ins3">
    <div class="container">
      <div class="row off1">
        <div class="grid_6">
          <h3>
            <strong>關於我們</strong>
          </h3>
          <p>我們有專業的醫師群與優秀的物理、職能、語言治療師、臨床心理師團隊，為患者提供優質與溫馨的醫療服務。 為各種運動傷害、退化性關節炎、肌肉疼痛、中風、失能患者等提供評估、治療、訓練與諮詢。 並提供兒童早期療育以及學齡兒童相關的學習資源。亦有針對孩子特殊需求來進行聯合評估、擬定目標計畫、提供家長諮詢、居家活動建議等。
          </p>
          <hr>
          <p>多年以來，憑藉對患者提供最完整個復健治療計劃的堅持，從儀器、徒手以及運動治療三者並重，讓我們建立許多患者的信任，也得到許多物理治療師的認同而加入我們，使得本所成長為北中南共有四間物理治療所的規模。近年，也吸引大陸地區醫療康復從業人員的興趣與認同，聘請學善擔任兩間運動康復中心的顧問。
            未來，温老師將持續在台灣深耕、拓展，開設民眾所需求的物理治療所。另外，我們將啟動並設立更高階的第二品牌，讓民眾有更舒適的第二種選擇。
          </p>
        </div>
        <div class="grid_6">
          <h3>
            <strong>本所外觀</strong>
          </h3>
          <div class="row">
            <div class="grid_6 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
              <div class=".grid_2">
                <img src="assets/images/aboutUs/exterior-1.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="well1 ins3">
    <div class="container">
      <div class="row off2">
        <div class="grid_12">
          <h3>
            <strong>優秀的團隊</strong>
          </h3>
          <div class="row">
            <ng-container *ngFor="let presonal of goodTeams">
              <div class="off1 grid_6 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                <div class='grid_2'>
                  <img src="{{presonal.imgUrl}}" alt="">
                </div>
                <div class='grid_3' [innerHTML]="presonal.description">
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="well1 ins3">
    <div class="container">
      <h3>
        <strong>本所專長</strong>
      </h3>
      <ul class="product-list row off2">
        <li class="grid_12">
          <div class="box">
            <div class="box_aside">
              <div class="icon fa-asterisk"></div>
            </div>
            <div class="box_cnt__no-flow">
              <h4>
                <strong>骨科</strong>
              </h4>
              <p>
                <strong>急性病患：</strong>手術後復健，包含骨折、關節置換、肌腱韌帶受傷後手術重建、脊椎手術、周邊神經手術)、運動傷害或職業傷害等。
              </p>
              <p>
                <strong>慢性病患：</strong>下背痛、五十肩、筋膜疼痛、坐骨神經痛、關節病變等。
              </p>
              <p>
                <strong>其他：</strong>燒燙傷、斜頸、顏面神經麻痺、顳顎關節脫臼、脊柱側彎、淋巴水腫等。
              </p>
            </div>
          </div>
          <hr>
        </li>
        <li class="grid_12">
          <div class="box">
            <div class="box_aside">
              <div class="icon fa-asterisk"></div>
            </div>
            <div class="box_cnt__no-flow">
              <h3>Tempus eleifend cum sociis natoque</h3>
              <p>Labore et dolore magna. Suspendisse commodo tempor sagittis! In justo est sollicitudin eu scelerisque pretium,
                placerat eget elit.</p>
            </div>
          </div>
          <hr>
          <div class="box">
            <div class="box_aside">
              <div class="icon fa-asterisk"></div>
            </div>
            <div class="box_cnt__no-flow">
              <h3>Sociis natoque penatibus vestibulum</h3>
              <p>Suspendisse commodo tempor sagittis! In justo est sollicitudin eu scelerisque pretium, placerat eget elit.
                Praesent faucibus rutrum.</p>
            </div>
          </div>
          <hr>
          <div class="box">
            <div class="box_aside">
              <div class="icon fa-asterisk"></div>
            </div>
            <div class="box_cnt__no-flow">
              <h3>Penatibus vestibulum congue dui ut</h3>
              <p>In justo est sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>