<footer>
  <section class="well3">
    <div class="container">
      <ul class="row contact-list">
        <li class="grid_4">
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa-map-marker"></div>
            </div>
            <div class="box_cnt__no-flow">
              <address>110台北市信義區信義路五段7號</address>
            </div>
          </div>
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa-envelope"></div>
            </div>
            <div class="box_cnt__no-flow">
              <a href="mailto:#">gn67226@outlook.com</a>
            </div>
          </div>
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa-phone"></div>
            </div>
            <div class="box_cnt__no-flow">
              <a href="callto:#">800-2345-6789</a>
              <p>(温温老師)</p>
            </div>
          </div>
        </li>
        <li class="grid_8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7229.995500063402!2d121.5607688193999!3d25.034150423115516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZn-WPsOWMlzEwMeWkp-aokw!5e0!3m2!1szh-TW!2stw!4v1531627763046"
            width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="copyright">Vance Company © 2018 Vance INC. All Rights Reserved.
      </div>
    </div>
  </section>
</footer>